.eco_item {
    white-space: pre-wrap;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
    padding-bottom: 6px;
}

#eco_stat {
    background-color: transparent;
    color: #f00;
    font-weight: bold;
}

#eco_lang {
    text-align: right;
}

.eco_perm {
    font-size: 85%;
    text-align: right;
    margin-top: 4px;
}
