.eco_item {
    white-space: pre-wrap;
    border-bottom: 1px solid #ccc;
    margin-bottom: 8px;
    padding-bottom: 4px;
}

#eco_stat {
    background-color: transparent;
    color: #f00;
    font-weight: bold;
}
