#Add_Comment {
  clear: both;
  margin-top: 2.000em;
}

#eco_main {
  font-size: 95%;
  padding-top: 0.500em;
}

#eco_form {
  padding-top: 0.500em;
}

.eco_item {
  font-size: 85%;
  border-bottom: 1px solid #ccc;
  white-space: pre-wrap;
  margin-bottom: 0.500em;
  padding-bottom: 0.250em;
}

.eco_item span {
  font-weight: bold;
}

#eco_stat {
  background-color: transparent;
  color: #f00;
  font-weight: bold;
}

.eco_by {
  font-size: 75%;
}
